{% extends "layout.html" %}

{% block title %}Register / RecipeApp{% endblock %}

{% block content %}
	<h1>Register</h1>
	<form class="" action="/accounts/register/" method="post">
		{% csrf_token %}
		<div class="mb-3">
			<label class="form-label">Username</label>
			{{form.username}}
			<div class="form-text">150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
		</div>
		<div class="mb-3">
			<label class="form-label">Email Address</label>
			{{form.email}}
			<div class="form-text">We'll never share your email with anyone else.</div>
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			{{form.password1}}
			<div class="form-text">Your password can’t be too similar to your other personal information.</div>
			<div class="form-text">Your password must contain at least 8 characters.</div>
			<div class="form-text">Your password can’t be a commonly used password.</div>
			<div class="form-text">Your password can’t be entirely numeric.</div>
		</div>
		<div class="mb-3">
			<label class="form-label">Confirm Password</label>
			{{form.password2}}
			<div class="form-text">Enter the same password as before, for verification.</div>
		</div>
		<button class="btn btn-primary">Submit</button>
	</form>
{% endblock %}