{% extends "layout.html" %}

{% block title %}{{recipe}} / RecipeApp{% endblock %}

{% block content %}	
	<h1>{{recipe}}:</h1>
	<div class="d-flex justify-content-between">
		<p>Author: {{recipe.author}}</p>
		<div>
			{% if rating %}
				{% for i in "12345" %}
					{% if rating >= forloop.counter %}
						<i class="bi bi-star-fill"></i>
					{% elif rating > forloop.counter0 %}
						<i class="bi bi-star-half"></i>
					{% else %}
						<i class="bi bi-star"></i>
					{% endif %}
				{% endfor %}
			{% else %}
				<p>No rating available</p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<h3>Ingredients</h3>
					<h3><i class="bi bi-basket3-fill"></i></h3>
				</div>
				<div class="card-body">
					<ul>
						{% for ingredient in ingredients %}
							<li>{{ingredient}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<h3>Directions</h3>
					<h3><i class="bi bi-signpost-split-fill"></i></h3>
				</div>
				<div class="card-body">
					<ul>
						{% for direction in directions %}
							<li>{{direction}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}