{% extends "layout.html" %}

{% block title %}{{recipe}} / RecipeApp{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}	
	<div class="d-flex justify-content-between mb-5">
		<div>
			<h1>{{recipe}}:</h1>
			<p>Author: {{recipe.author}}</p>
			<p>Rating: {{feedback|star_rating}}<br>(from {{feedback|length}} reviews)</p>
		</div>
		<div>
			<div class="card" style="width: 8rem; height: 8rem;">
				<div>
					<img src="{{recipe.image.url}}" class="card-img-top" alt="{{recipe.filename}}" style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;">
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<h3>Ingredients</h3>
					<h3><i class="bi bi-basket3-fill"></i></h3>
				</div>
				<div class="card-body">
					<ul>
						{% for ingredient in ingredients %}
							<li>{{ingredient}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<h3>Directions</h3>
					<h3><i class="bi bi-signpost-split-fill"></i></h3>
				</div>
				<div class="card-body">
					<ul>
						{% for direction in directions %}
							<li>{{direction}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<h4>Feedback:</h4>
	{% for comment in feedback %}
		<div class="card mb-3">
			<div class="d-flex">
				<div class="card-body">
					{{comment.rating|star_rating}}
					<p class="card-text">
						{{comment}}
					</p>
					<div class="text-secondary">
						by {{comment.author}}
					</div>
				</div>
				<div>
					{% if user == comment.author %}
						<button type="button" class="btn bg-danger m-2"><i class="bi bi-trash-fill"></i></button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}